@import "../5-helper/mixins";

.loader-page{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $black;
  z-index: 2;

  .wrapper{
    display: table;
    height: 100vh;
    margin: 0 auto;

    .content-container{
      display: table-cell;
      vertical-align: middle;

      .logo-container{
        opacity: 0;
        visibility: hidden;
        text-align: center;
        margin-bottom: 40px;

        .logo{
          height: 45px;
          @include tablet{
            height: 55px;
          }
            // @include breakpoint(125)
            //   height: 50px
          }

        }

      .caption-container{
        width: 333px;
        margin-bottom: 40px;
        @include tablet{
          width: 433px;
        }

        .word-break{
          opacity: 0;
          visibility: hidden;
        }
      }

      .chared-word-break{
        @include text(70%, 2px,0px,none,$text-color)
        text-align: center;
        line-height: 180%;
        @include tablet{
          font-size: 100%;
        }
      }

      .letter-spacing-large{
        letter-spacing: 17px;
        // letter-spacing: 5px;
        // @include breakpoint(26)
        //  letter-spacing: 15px
      }


      .letter-spacing-medium{
        letter-spacing: 13px;
        // letter-spacing: 1px;
        // @include breakpoint(26)
        //  letter-spacing: 9px
      }


      .letter-spacing-small{
        letter-spacing: 12px;
      }

      .cta-container{
        .cta{
            opacity: 0;
            visibility: hidden;
            text-align: center;
            .cta-text{
              @include text(55%,5px,0px,uppercase, $text-color);
              text-decoration: none;
              position: relative;
              &:hover .underline-2{
                width: 63.5%;
              }
              .underline{
                display: block;
                position: absolute;
                height: 2px;
                background: $white;
              }
              .underline-1{
                top: 156%;
                left: 0;
                width: 26%;
              }
              .underline-2{
                top: 156%;
                left: 32%;
                width: 3.5%;
                transition: width .3s ease-out;
              }
              &:visited, &:active{
                color: $white;
                text-decoration: none;
              }
              }
            }
        }

      }

    }


}
