@import url("https://fonts.googleapis.com/css?family=PT+Mono|Work+Sans:100,200,300");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

/*
  1. Vertical and Horizontal Align Center
*/
.flex-container {
  display: flex;
  height: 100%;
}

.center-verticalhorizontal {
  align-items: center;
  justify-content: center;
}

.midcenter-verticalhorizontal {
  margin-top: 38vh;
  align-items: center;
  flex-direction: column;
}

.scroll-indicator {
  width: 170px;
  transform: rotate(-90deg);
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sf Kingston", sans-serif;
  font-weight: 100;
}

span {
  display: inline-block;
}

.heading {
  font-size: 32px;
  letter-spacing: 8px;
  word-spacing: 5px;
  text-transform: none;
}

.color-white {
  color: #ffffff;
}

a {
  font-size: 12px;
  letter-spacing: 3px;
  word-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

a:hover {
  text-decoration: none;
}

.para-caps-holder {
  text-align: center;
  margin: 0 auto;
}

.para-caps-holder .para-caps {
  font-size: 87.5%;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

.loader {
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

.btn {
  padding: 12px;
  border: 1px solid;
  position: relative;
  text-decoration: none;
  width: 186px;
  display: block;
  text-align: right;
}

.btn:hover:before {
  width: 16%;
}

.btn-navyblue:after, .btn-white:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6%;
  height: 1px;
  width: 16%;
}

.btn-navyblue:before, .btn-white:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 6%;
  z-index: 2;
  height: 1px;
  width: 0%;
  transition: width .4s;
}

.btn-white {
  color: #d7d8d8;
  border-color: #ffffff;
}

.btn-white:after {
  background-color: #ffffff;
}

.btn-white:before {
  background-color: #232735;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: transparent;
  font-size: 16px;
  color: #232735;
  font-family: "Raleway", sans-serif;
}

.xs-hidden {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .xs-hidden {
    display: block;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  *zoom: 1;
}

.container:before, .container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 90%;
  }
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .row {
    margin: 0 -1em;
  }
}

[class*='column-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 100%;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

.loader {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.company-name {
  font-size: 64px;
  letter-spacing: 6px;
  word-spacing: 3px;
  text-transform: uppercase;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}

.landing-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-page .bg-effect {
  background: url("../img/living-room.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.landing-page .heading {
  margin-bottom: 135px;
}

.landing-page .para-caps-holder {
  position: fixed;
  bottom: 10vh;
}

.landing-page .para-caps-holder .para-caps {
  margin-bottom: 10px;
}

@font-face {
  font-family: 'SF Kingston';
  src: url("../fonts/SFKingstonRegular.otf");
}
