@import url("https://fonts.googleapis.com/css?family=PT+Mono|Work+Sans:100,200,300");
@font-face {
  font-family: 'Butler Light';
  src: url("../fonts/Butler_Light_Stencil.otf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

a {
  font-size: 80%;
  letter-spacing: 3px;
  word-spacing: 0px;
  text-transform: none;
  color: #FFFFFF;
  font: "Butler Light", sans-serif;
  text-decoration: none;
  line-height: 170%;
  transition: color .3s;
}

@media only screen and (max-width: 728px) {
  a {
    font-size: 50%;
  }
}

@media only screen and (min-width: 728px) {
  a {
    font-size: 90%;
  }
}

a:hover {
  text-decoration: none;
  color: #19a37b;
}

p {
  font-size: 1.4rem;
}

@font-face {
  font-family: 'Butler Light';
  src: url("../fonts/Butler_Light_Stencil.otf");
}

.loader-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  z-index: 2;
}

.loader-page .wrapper {
  display: table;
  height: 100vh;
  margin: 0 auto;
}

.loader-page .wrapper .content-container {
  display: table-cell;
  vertical-align: middle;
}

.loader-page .wrapper .content-container .logo-container {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-bottom: 40px;
}

.loader-page .wrapper .content-container .logo-container .logo {
  height: 45px;
}

@media only screen and (min-width: 768px) {
  .loader-page .wrapper .content-container .logo-container .logo {
    height: 55px;
  }
}

.loader-page .wrapper .content-container .caption-container {
  width: 333px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .loader-page .wrapper .content-container .caption-container {
    width: 433px;
  }
}

.loader-page .wrapper .content-container .caption-container .word-break {
  opacity: 0;
  visibility: hidden;
}

.loader-page .wrapper .content-container .chared-word-break {
  font-size: 70%;
  letter-spacing: 2px;
  word-spacing: 0px;
  text-transform: none;
  color: #FFFFFF;
  text-align: center;
  line-height: 180%;
}

@media only screen and (min-width: 768px) {
  .loader-page .wrapper .content-container .chared-word-break {
    font-size: 100%;
  }
}

.loader-page .wrapper .content-container .letter-spacing-large {
  letter-spacing: 17px;
}

.loader-page .wrapper .content-container .letter-spacing-medium {
  letter-spacing: 13px;
}

.loader-page .wrapper .content-container .letter-spacing-small {
  letter-spacing: 12px;
}

.loader-page .wrapper .content-container .cta-container .cta {
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text {
  font-size: 55%;
  letter-spacing: 5px;
  word-spacing: 0px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text:hover .underline-2 {
  width: 63.5%;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text .underline {
  display: block;
  position: absolute;
  height: 2px;
  background: #FFFFFF;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text .underline-1 {
  top: 156%;
  left: 0;
  width: 26%;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text .underline-2 {
  top: 156%;
  left: 32%;
  width: 3.5%;
  transition: width .3s ease-out;
}

.loader-page .wrapper .content-container .cta-container .cta .cta-text:visited, .loader-page .wrapper .content-container .cta-container .cta .cta-text:active {
  color: #FFFFFF;
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: transparent;
  font-size: 1.4rem;
  color: #FFFFFF;
  font-family: "Butler Light", sans-serif;
}

.xs-hidden {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .xs-hidden {
    display: block;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  *zoom: 1;
}

.container:before, .container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .row {
    margin: 0 -1em;
  }
}

[class*='column-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 100%;
}

@font-face {
  font-family: 'Butler Light';
  src: url("../fonts/Butler_Light_Stencil.otf");
}

.landing-page {
  width: 100%;
  max-height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.landing-page .scale-down {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.5);
}

.landing-page .logo {
  margin-bottom: 4%;
}

.landing-page #svg-filter {
  position: absolute;
}

.landing-page .glitch-img-container .glitch-img {
  filter: url("#glitch");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .landing-page .glitch-img-container .glitch-img {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .landing-page .glitch-img-container .glitch-img {
    transform: translate(-50%, -50%) scale(1);
  }
}

.landing-page .content-container {
  position: relative;
  height: 100vh;
  z-index: 5;
  text-align: center;
}

.landing-page .content-container .top-box, .landing-page .content-container .middle-box, .landing-page .content-container .bottom-box {
  position: absolute;
}

.landing-page .content-container .top-box {
  top: 0;
}

@media only screen and (min-width: 1024px) {
  .landing-page .content-container .top-box {
    width: 50%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.landing-page .content-container .top-box .contact-info {
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .landing-page .content-container .top-box .contact-info {
    margin-bottom: 4em;
  }
}

.landing-page .content-container .middle-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-page .content-container .bottom-box {
  bottom: 8%;
}

.landing-page .content-container .box-skills-container {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #FFFFFF;
}

.landing-page .content-container .box-skills-container h2:first-child {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .landing-page .content-container .box-skills-container h2:first-child {
    margin-bottom: 10%;
  }
}

.landing-page .content-container .box-skills-container .inner-skill {
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 0px;
  text-transform: none;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .landing-page .content-container .box-skills-container .inner-skill {
    font-size: 32px;
  }
}

.landing-page .content-container .box-skills-container .no-margin {
  margin: 0 !important;
}

.landing-page .content-container .box-skills-container .line {
  width: 60%;
  height: .06rem;
  background: grey;
  display: none;
  margin-bottom: 30px;
  transform: rotate(-30deg) translate(35%);
}

.landing-page .content-container .outer-skill {
  letter-spacing: 2px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .landing-page .content-container .outer-skill {
    font-size: 32px;
  }
}

.landing-page .content-container .developer-description-container {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

@media only screen and (min-width: 1024px) {
  .landing-page .content-container .developer-description-container {
    width: 60%;
  }
}

.landing-page .content-container .developer-description-container .developer-description {
  font-size: 50%;
  letter-spacing: 2px;
  word-spacing: 1px;
  text-transform: none;
  color: #FFFFFF;
  line-height: 170%;
}

@media only screen and (min-width: 768px) {
  .landing-page .content-container .developer-description-container .developer-description {
    font-size: 100%;
  }
}

.landing-page .content-container .project-links-container .project-links {
  text-align: justify;
  margin-bottom: 20px;
}

.landing-page .content-container .project-links-container .links {
  font-size: 80%;
  letter-spacing: 2px;
  word-spacing: 0px;
  text-transform: none;
  color: #FFFFFF;
}
