@font-face{
  font-family: 'SF Kingston';
  src: url('../fonts/SFKingstonRegular.otf');
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

$navyblue:       #232735;
$black:          #000000;
$white:          #ffffff;
$grey:           #d7d8d8;

$text-color:  $navyblue;

$paragraph-font-size: 16px;
$paragraph-font-family: 'Raleway', sans-serif;;

// navigation
$menu-anchor-font-size: 16px;
$menu-achor-color: $white;

// anchor tags
$anchor-font-size: 12px;
$achor-color-white: $white;
$achor-color-navyblue: $navyblue;

// heading
$heading-color-1: $navyblue;
$heading-color-2: $white;
$heading-font-family: 'Sf Kingston', sans-serif;
$heading-font-weight: 100;

//sass map function - use for heading tags
$heading-font-size: (
  xl: 64px,
  h1: 40px,
  h2: 36px,
  h3: 32px,
  h4: 28px,
  h5: 24px,
  h6: 20px
);

//visit
$visit-text-color: $white;

//grid & responsive - sass map
$breakpoints: (
    phone: 480px,
    tablet: 768px,
    desktop: 1024px
);

$columns: 12;
$grid-max-width: 90%;
