<div id="js-loader-page" class="loader-page">

  <div class="container">
    <div class="wrapper">
      <div id="js-content-container" class="content-container">
        <div id="js-logo-container" class="logo-container">
              <img class="logo" src="img/logo.svg" alt="">
            </div>
        <div class="caption-container">
          <p id="js-caption-wordbreak" class="word-break">
            Hello, my name is Harpreet Singh
            and I welcome you to my portfolio
          </p>
        </div>
        <div class="cta-container">
            <div id="js-discover-cta" class="cta">
              <a class="cta-text" href="#">
                discover
                <span class="underline-1 underline"></span>
                <span class="underline-2 underline"></span>
              </a>
            </div>
          </div>
      </div>
    </div><!-- .wrapper -->

  </div>

</div><!-- .loader-page -->
